[submodule "nwpu-gem5-csarch"]
	path = nwpu-gem5-csarch
	url = https://gitee.com/nwpu-ercesi/nwpu-gem5-csarch
[submodule "calab-gem5"]
	path = calab-gem5
	url = https://git.ustc.edu.cn/xyx17/calab-gem5.git
[submodule "microbench"]
	path = microbench
	url = https://github.com/darchr/microbench.git
[submodule "riscv-coremark"]
	path = riscv-coremark
	url = https://github.com/riscv-boom/riscv-coremark.git
[submodule "SimPoint.3.2-fix"]
	path = SimPoint.3.2-fix
	url = https://github.com/dzwduan/SimPoint.3.2-fix
